*{
	margin: 0;
	padding: 0;
	font-family: 'poppins',sans-serif;
}

.section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(http://localhost/autohall/images/img.jpeg); 
    background-position: center;
	background-size: cover;
	position: relative;
}


.form-box{
	position: relative;
	width: 400px;
	height: 450px;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
}

h2{
	font-size: 2em;
	color: #fff;
	text-align: center;

}

.input-box{
	position: relative;
	margin: 30px 0;
	width: 310px;
	border-bottom: 2px solid #fff;
}
.input-box label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 1em;
	pointer-events: none;
	transition: .5s;

}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.input-box input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	size: 1em;
	padding: 0 35px 0 5px;
	color: #fff;
}
.input-box select{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	size: 5em;
	padding: 0 35px 0 5px;
	color: green;
}

.input-box ion-icon{
	position: absolute;
	right: 8px;
	color: #fff;
	font-size: 1.2em;
	top: 20px;

}

button{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}

.register{
	font-size: .9em;
	color: #fff;
	text-align: center;
	margin: 25px 0 10px;

}
.register p a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
.register p a:hover{
	text-decoration: underline;

}





@media(max-width: 700px){
	.input-box{
	width: 200px;
	
}



.input-box label{
	position: absolute;
	top: 50%;
	left: 5px;

	font-size: .8em;


}

.input-box input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	size: 1em;
	padding: 0 35px 0 5px;
	color: #fff;
}
.input-box ion-icon{
	position: absolute;
	right: : 0px;
	color: #fff;
	font-size: 1.2em;
	top: 20px;


}
button{
	width: 100%;
	height: 40px;

	
}
}
.erreur{
	background: pink;
	padding: 5px 10px;
    text-align: center;
    color: red;
    border-radius: 3px;
    font-synthesis: 14px;
    margin-top: 10px;
}
/*----liste-----*/

.table{
	min-height: 100vh;
	width: 100%;
	background-color: #fff;
}

table, th, td{
	/*border: 1px solid;*/
	border-collapse: collapse;
}
.tableau{ 
    margin-left: 30px;
    margin-top: 30px;
	width: 30%;
}

.tableau th,td{
	padding: 15px;
	text-align: left;
}


tr:nth-child(even) {
	background-color: #f2f2f2;
}













